<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Google tag (gtag.js) - added on April 18, 2023 -->
	<!-- Debug Enabled on May 7, 2023 -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y1QMR8T1YZ"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-Y1QMR8T1YZ', { 'debug_mode': true });
	</script>


	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-5PTWJ65');</script>
	<!-- End Google Tag Manager -->

	<meta charset="utf-8"/>
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- RSS feed -->
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

  <!-- Customized Bootstrap + Font Awesome + Solarized -->
  <link href="/css/style.css" rel="stylesheet" media="screen">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/images/Logo_RPGLab.png"/>

	<!-- Typekit -->
	<script>
	  (function(d) {
		var config = {
		  kitId: 'xeu8jut',
		  scriptTimeout: 3000
		},
		h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
	  })(document);
	</script>

	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-36940307-2', 'rpglab.github.io');
		ga('send', 'pageview');

	</script>

	<!-- jQuery -->
	<script src="/js/jquery.min.js"></script>

	<!-- Bootstrap -->
	<script src="/js/bootstrap.min.js"></script>

</head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5PTWJ65"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


	<div id="header">
		<nav class="navbar navbar-expand-md navbar-light bg-navbar" style="background-color: rgba(0, 255, 0, 0.1);">
			<div class="container">
				{% if page.categories.first != 'home' %}
				<a class="navbar-brand" href="/">
					<img class="logo navbar-brand d-inline-block align-top ml-0 mr-1" src="/images/Logo_RPGLab.png">
					Home 
				</a>
				{% else %}
				<a class="navbar-brand" href="/">
					<!--<img class="logo navbar-brand d-inline-block align-top ml-0 mr-1" src="/images/Logo_RPGLab.png">-->
					Home
				</a>
				{% endif %}
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav nav-pills ml-auto">
						{% if page.categories.first == 'people' %}
						<li class="nav-link active">
						{% else %}
						<li class="nav-link">
						{% endif %}
						<a class="mx-1" href="/people/">People</a>
						{% if page.categories.first == 'papers' %}
						<li class="nav-link active">
						{% else %}
						<li class="nav-link">
						{% endif %}
						<a class="mx-1" href="/papers/">Publications</a>
						</li>
						{% if page.categories.first == 'resources' %}
						<li class="nav-link active">
						{% else %}
						<li class="nav-link">
						{% endif %}
						<a class="mx-1" href="/resources/">Resources</a>
						</li>
						{% if page.categories.first == 'news' %}
						<li class="nav-link active">
						{% else %}
						<li class="nav-link">
						{% endif %}
						<a class="mx-1" href="/news/">News</a>
						</li>
						{% if page.categories.first == 'blog' %}
						<li class="nav-link active">
						{% else %}
						<li class="nav-link">
						{% endif %}
						<a class="mx-1" href="/blog/">Blog</a>
						</li>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<div class="container mt-4">

	{{ content }}

	</div>

	<div id="footer"><span style="display:none">foo</span></div>   

	<!-- Footer Area - added on May 8, 2023 -->
	<footer style="background-color: rgba(0, 255, 0, 0.1);">
	  <div class="container">
		<div class="spacer"></div>
	  	<div class="spacer"></div>
		<div class="row">	  
		    <div class="col-lg-4 memberbox">		
				<h3>Contact Us</h3>
				<ul>
				  <li style="color: blue; font-weight: bold;"> <a class="off" href="/people/Xingpeng-Li">Xingpeng Li, &nbsp PhD, &nbsp Assistant Professor</a> </li>
				  <li style="color: blue; font-weight: bold;">Email: &nbsp xli83@central.uh.edu</li>
				  <li>Office: N317, Engineering Building 1 </li>
				  <li>ECE Department</li>
				  <li>University of Houston</li>
				  <li>Houston, TX 77204, USA </li>
				</ul>		
		    </div>
		  
			<div class="col-lg-4 memberbox">
				<div class="row">
				  <!-- <div class="col-lg-12">
					<div class="float-lg-central" style="vertical-align: bottom; display: table-cell;"> -->
					  <a class="off" href="/blog/GrpMeeting-Dinner-Gaming-202301/">
						<img width=310 src="/images/blog/2023.01.27_Photo-1_v2.jpg">
					  </a>
					 <!--  
					  &nbsp; &nbsp; &nbsp; &nbsp;
					  <a class="off" href="/people/">
						<img width=100 src="/images/Logo_RPGLab_v2.png">
					  </a>
					  -->
					<!-- </div>
				  </div> -->
				</div>
			</div>
		    <!-- This is the code for ClustrMaps that tracks visitors. -->
		    <div class="col-lg-4 memberbox">
				<script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=a9caa5&w=325&t=m&d=j-n5lXQIyldfuPlRN_6qmu40j5vPWr-yAfiEYvkyxZs&co=8d79f1&ct=010000&cmo=040000&cmn=000900'></script>		  
		    </div>	  
		</div>		
		<div class="spacer"></div>
		<div class="spacer"></div>
	  </div>
	</footer>
	

</body>
</html>
