---
layout: default
---

{% assign member = page %}

<div class="row">
	<div class="col-lg-12">
		{% if member.image %}
		<img class="pull-left pad-right media-object d-none d-sm-block" src="{{ member.image }}">
		{% endif %}
		<div class="titlebox">
			<div class="bigtitle">
				{{ member.title }}
			</div>
			<p>
			<div class="smallhead">
				{{ member.position }}
			</div>
			<div class="smallhead">
				{{ member.time }}
			</div>
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-lg-3">
		{% if member.cv %}
		<div class="smallhead">
			CV
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-file-text-o fa-fw"></i>
			<a class="off" href="{{ member.cv }}">{{ member.cv | split: '/' | last }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.email %}
		{% assign emailarray = member.email | split: '@' %}
		<div class="smallhead">
			Email
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-inbox fa-fw"></i>
			{{ emailarray.first }}<span style="display:none">obfuscate</span>@{{ emailarray.last }}
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.scholar %}
		<div class="smallhead">
			Google Scholar
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-graduation-cap fa-fw"></i>
			<a class="off" href="http://scholar.google.com/citations?user={{ member.scholar }}" target="_blank">{{ member.title }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.linkedin %}
		<div class="smallhead">
			LinkedIn
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-linkedin fa-fw"></i>
			<a class="off" href="https://linkedin.com/in/{{ member.linkedin }}" target="_blank">{{ member.linkedin }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.calendar %}
		<div class="smallhead">
			Calendar
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-calendar fa-fw"></i>
			<a class="off" href="{{ member.calendar }}">{{ member.title }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.website %}
		<div class="smallhead">
			Website
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-globe fa-fw"></i>
			<a class="off" href="https://{{ member.website }}" target="_blank">{{ member.website }}</a>
			<!-- <a class="off" href="{{ member.website }}">{{ member.website | remove: 'http://' | remove: 'https://' | replace: "/", "/<wbr>" | replace: "_", "_<wbr>" }}</a> -->
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.PhDissertation %}
		<div class="smallhead">
			Doctoral Dissertation
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-book fa-fw"></i>
			<a class="off" href="{{ member.PhDissertation }}" target="_blank">{{ member.PhDissertation | split: '/' | last}}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.PhDefenseSlides %}
		<div class="smallhead">
			PhD Defense
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
<!--			<i class="fa fa-chalkboard fa-fw"></i>  fa-slideshare -->
			<i class="fa fa-graduation-cap fa-fw"></i>
			<a class="off" href="{{ member.PhDefenseSlides }}" target="_blank">{{ member.PhDefenseSlides | split: '/' | last}}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.MSThesis %}
		<div class="smallhead">
			Master's Thesis
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-book fa-fw"></i>
			<a class="off" href="{{ member.MSThesis }}" target="_blank">{{ member.MSThesis | split: '/' | last}}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.MSDefenseSlides %}
		<div class="smallhead">
			MS Defense
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-graduation-cap fa-fw"></i>
			<a class="off" href="{{ member.MSDefenseSlides }}" target="_blank">{{ member.MSDefenseSlides | split: '/' | last}}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.github %}
		<div class="smallhead">
			GitHub
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-github-alt fa-fw"></i>
			<a class="off" href="https://github.com/{{ member.github }}" target="_blank">{{ member.github }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.twitter %}
		<div class="smallhead">
			Twitter
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-twitter fa-fw"></i>
			<a class="off" href="https://twitter.com/{{ member.twitter }}" target="_blank">{{ member.twitter }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.facebook %}
		<div class="smallhead">
			Facebook
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-facebook-f fa-fw"></i>
			<a class="off" href="https://facebook.com/{{ member.facebook }}" target="_blank">{{ member.facebook }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
	</div>
	<div class="col-lg-8">
		<div class="post" style="font-size:15px;">
			{{ content }}
		</div>

		{% assign name = member.title %}
		{% assign searchstring = name %}

		{% for paper in site.categories.papers %}
		{% if paper.authors contains searchstring %}
		{% assign papersq = true %}
		{% endif %}
		{% endfor %}

		{% if papersq == true %}
		<div class="bigspacer"></div>
		<div class="head" style="color:black; font-size:28px;">Papers (with link) </div>
		<div class="spacer"></div>
		{% for paper in site.categories.papers %}
		{% if paper.authors contains searchstring %}
		<p><a href="{{ paper.url }}" class="off">{{ paper.title }}</a>
		{% endif %}
		{% endfor %}
		{% endif %}


		{% for resource in site.categories.resources %}
			{% if resource.authors %}
				{% for author in resource.authors %}
					{% if member.title == author %}
						{% assign resourcesq = true %}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}
		
		{% if resourcesq == true %}
			<div class="bigspacer"></div>
			<div class="head" style="color:black; font-size:28px;">Resources (with link) </div>
			<div class="spacer"></div>
			{% for resource in site.categories.resources %}
				{% if resource.author %}
					{% if member.title == resource.author %}
						<p><a href="{{ resource.url }}" class="off">{{ resource.title }}</a>
					{% endif %}
				{% endif %}
				{% if resource.authors %}
					{% assign found = false %}
					{% for author in resource.authors %}
						{% if member.title == author %}
							{% assign found = true %}
						{% endif %}
					{% endfor %}
					{% if found %}
						<p><a href="{{ resource.url }}" class="off">{{ resource.title }}</a>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}
		

		{% for post in site.categories.blog %}
			{% if post.author %}
				{% if member.title == post.author %}
					{% assign postsq = true %}
				{% endif %}
			{% endif %}
			{% if post.authors %}
				{% if post.authors contains member.title %}
					{% assign postsq = true %}
				{% endif %}
			{% endif %}
		{% endfor %}

		{% if postsq == true %}
			<div class="bigspacer"></div>
			<div class="head" style="color:black; font-size:28px;">Blogs (with link) </div>
			<div class="spacer"></div>
			{% for post in site.categories.blog %}
				{% if post.author %}
					{% if member.title == post.author %}
						<p><a href="{{ post.url }}" class="off">{{ post.title }}</a>
					{% endif %}
				{% endif %}
				{% if post.authors %}
					{% if post.authors contains member.title %}
						<p><a href="{{ post.url }}" class="off">{{ post.title }}</a>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}

	</div>
	<div class="col-lg-1"></div>
</div>
